@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.userIcon {
  border-radius: 50%;
  height: 40px;
}

.contentPreview {
  white-space: nowrap; 
  width: 16rem; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.blogCardPhoto{
  height: 18rem;
  width: 18rem;
}

.noShow{
  display: none;
}
